[Desktop Entry]
Version=1.1
Type=Application
Name=New Launcher
Comment=A small descriptive blurb about this application.
Icon=applications-other
Exec=bash -c "source .venv/bin/activate; python3 app.py &> debug.log"
Path=
Actions=
Categories=Game;X-XFCE;
Terminal=false
StartupNotify=false
